@media (max-width: 1250px) {

    /* Home */
    .caja__bienvenida {
        margin-top: 10%;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }
    }

    .imagenlogomain {
        width: 250px;
    }

    /* Productos */
    .caja-carousel {
        margin-top: 20%;
    }

    .imagenes-nocarousel {
        display: none;
    }

    /* About */
    main p.parrafo-about {
        font-size: 25px;
    }

    /* Contacto */
}

@media (max-width: 1000px) {
    .imagenes-nocarousel {
        display: none;
    }

    .caja__contacto {
        margin: 10% auto;
    }

    .imagen-contacto img {
        width: 200px;
    }

    p.titulo__contacto {
        font-size: 2rem;
    }

    .imagen__telefono img {
        width: 80px;
    }
}

@media (max-width: 890px) {

    /* Home */
    .caja__bienvenida {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 2rem;
        }
    }

    .imagenlogomain {
        width: 250px;
    }

    /* Productos */
    .caja-carousel {
        margin: 15% 2%;
    }

    .imagenes-nocarousel {
        display: none;
    }

    /* About */
    main p.parrafo-about {
        font-size: 20px;
    }

    /* Ubicacion */
    .caja__ubicacion {
        margin: 10% 2%;

        p {
            font-size: 1.5rem;
            font-weight: bold;
        }

        iframe {
            width: 90%;
        }
    }
}

@media (max-width: 700px) {

    /* Contacto */
    p.titulo__contacto {
        font-size: 1rem;
        font-weight: bold;
    }

    .imagen__telefono img {
        width: 30px;
    }

    .imagen__telefono p {
        font-size: 14px;
    }

    /* Productos */
    #carouselExampleDark {
        display: none;
    }

    .caja-carousel {
        margin: 10% 2%;
    }

    .imagenes-nocarousel img {
        width: 100%;
    }

    .imagenes-nocarousel {
        display: block;
    }
}

@media (max-width: 440px) {

    /* Home */
    .caja__bienvenida {
        margin-top: 40%;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1rem;
            letter-spacing: 1px;
        }
    }

    .imagenlogomain {
        width: 180px;
    }

    /* Productos */
    #carouselExampleDark {
        display: none;
    }

    .caja-carousel {
        margin: 20% 2%;
    }

    .imagenes-nocarousel img {
        width: 100%;
    }

    /* About */
    main p.titulo-about {
        font-size: 20px;
        padding: 10px;
    }

    main p.parrafo-about {
        font-size: 20px;
    }

    .caja__about {
        margin: 5% 5%;

        img {
            width: 175px;
        }
    }

    /* Ubicacion */
    .caja__ubicacion {
        margin: 10% 2%;

        p {
            font-size: 12px;
            font-weight: bold;
        }
    }

    /* Contacto */
    .caja__contacto {
        margin-top: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    p.titulo__contacto {
        font-size: 1rem;
        font-weight: bold;
    }

    .imagen__telefono {
        img {
            width: 30px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 300px) {
    main div p.titulo-about {
        font-size: 20px;
    }
}