@import "variables";
@import "globals";
@import "mixins";
@import "extends";
@import "mqueries";
@import "home";
@import "productos";
@import "about";
@import "ubicacion";
@import "contacto";
@import "grid";

/* ETIQUETAS */
/* --------- */
/* --------- */
/* --------- */

body {
    background: url(../imagenes/backgroundhelados.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 7rem;
    padding: 0.5rem 3%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1rem #00000048;

    nav {
        div {
            display: flex;
            justify-content: end;
        }

        ul {
            li {
                list-style-type: none;
                padding: 0rem 2rem;
                transition: all 0.3s ease 0s;

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: grey;
                }

                .nav-link1:hover {
                    @include hover(#ff53f4);
                }

                .nav-link2:hover {
                    @include hover(#ff5cb1);
                }

                .nav-link3:hover {
                    @include hover(#ffa290);
                }

                .nav-link4:hover {
                    @include hover(#ffe097);
                }

                .nav-link5:hover {
                    @include hover(#ffffa9);
                }
            }
        }
    }
}

footer {
    background-color: white;
    padding: 0.7rem;
    height: 30px;
    border-radius: 1rem 1rem 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        font-size: 1.1rem;
        text-align: right;
        padding-right: 1.5rem;
        color: grey;
    }
}

/* CLASS  */
/* ------- */
/* ------- */
/* ------- */

.flex_row {
    display: flex;
    flex-direction: row;
}

.logo {
    img {
        transition: all 0.3s;
    }
}

/* HOVERS */
/* ------ */
/* ------ */
/* ------ */

.logo {
    img:hover {
        transform: scale(1.1);
    }
}

header {
    nav {
        ul {
            li:hover {
                transform: scale(1.1);
                transition: 0.9s ease-out;
            }
        }
    }
}